@CHARSET "UTF-8";
/* reset style */
html, body {
margin: 0;padding: 0;border: 0;font-size: 12px;color:#666;font-family:'Dotum', tahoma,arial,sans-serif,verdana,helvetica;
background: transparent;} 
h1,h2,h3,h4,h5,h6,p{margin-top:0;}
fieldset, img{border:0;}
table{border-collapse:collapse;border-spacing :0;}
caption, th, td{text-align : left;vertical-align : top;font-weight : normal;}
input, textarea, select{font-size:110%;line-height:1.1;}
abbr, acronym{border-bottom : .1em dotted;cursor : help;}
sup{vertical-align : text-top;}
sub{vertical-align : text-bottom;}
blockquote, q {quotes: none;}  
a:link {color: #808080;} /* unvisited link */
a:visited {color: #808080;}/* visited link */  
a:hover {color: #808080;}/* mouse over link */
a:active {color: #408080;} /* selected link */  
/* customized style */
.bg_color_black{background-color: black;}
.bg_color_skyblue{background-color:skyblue;}
.bg_color_darkgray{background-color:#5a5a5a;}
.border_dotted {border-style: dotted;}
.border_dashed {border-style: dashed;}
.border_solid {border-style: solid;}
.border_double {border-style: double;}
.border_groove {border-style: groove;}
.border_ridge {border-style: ridge;}
.border_inset {border-style: inset;}
.border_outset {border-style: outset;}
.border_none {border-style: none;}
.border_hidden {border-style: hidden;}
.border_mix {border-style: dotted dashed solid double;}
.color_blue{color: blue;}
.color_red{color: red;}
.color_yellow{color: yellow;}
.color_white{color: white;}
.display_block{display: block;}
.display_inline{display: inline;}
.display_none{display: none;} /* no space */
.display_hidden{visibility: hidden;} /* taking space */
.event_hover:hover{background-color: blue;}
.font_bold{ font-weight: bold;}
.font_italic{font-style: italic;}
.height_full_size{height:100%;}
.list_circle{list-style-type: circle;}
.list_square{list-style-type: square;}
.list_upper_roman{list-style-type: upper-roman;}
.list_lower_alpha{list-style-type: lower-alpha;}
.margin_center{margin: 0 auto;}
.position_fix{position: fixed;}
.position_abs{position: absolute;}
.position_rel{position: relative;}
.table_default{border:1px solid #585858;border-collapse: collapse;}
.table_default tr{border:1px solid #585858;border-collapse: collapse;}
.table_default tr>th{border:1px solid #585858;border-collapse: collapse;}
.table_default tr>td{border:1px solid #585858;border-collapse: collapse;}
.table_bottom{border-bottom:1px solid #585858;border-collapse: collapse;}
.table_bottom tr{border-bottom:1px solid #585858;border-collapse: collapse;}
.table_bottom tr th{border-bottom:1px solid #585858;border-collapse: collapse;}
.table_bottom tr td{border-bottom:1px solid #585858;border-collapse: collapse;}
.table_even tr:nth-child(even){background-color:#ffffb9}
.table_odd tr:nth-child(odd){background-color:#ffffb9}
.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}
.text_no_underline{text-decoration: none;}
.text_overline{text-decoration: overline;}
.text_line_through{text-decoration: line-through;}
.width_full_size{width: 100%;}

/*나중에 jQuery 에 의해 제거될 대상*/

.notice>dd{float: left;}
.policy>dd{float: left;}
.gnb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.gnb li {
    float: left;
}
.gnb li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.gnb li a:hover {
    background-color: #ff0000;
}

.lnb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

.lnb li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.lnb li {
    text-align: center;
    border-bottom: 1px solid #555;
}

.lnb li:last-child {
    border-bottom: none;
}

.lnb li a.active {
    background-color: #4CAF50;
    color: white;
}

.lnb li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.paging {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.paging li {
    float: left;
}
.paging li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.paging li a:hover {
    background-color: white;
}


#admin_tab tr td{height:40px;}
#admin_tab tr th{height:40px;}

